<%- include("partials/header.ejs") -%>

<div class="content-fluid">


<div class="header_title">
  <h1 class=""><%= titleHeader %> </h1>
</div>
<div class="header_content">
  <p class=""> <%= titleContent %></p>
</div>
<div class="">
  <img class="box1-image" src="" alt="">

</div>
</div>
<%- include("partials/footer.ejs") -%>
